---
//Components
import Layout from "@layout/Default.astro";

import image_1 from "@images/cover-bank-contest/image_1.jpg";
import image_2 from "@images/cover-bank-contest/image_2.jpg";
import image_3 from "@images/cover-bank-contest/image_3.jpg";
import image_4 from "@images/cover-bank-contest/image_4.jpg";
import image_5 from "@images/cover-bank-contest/image_5.jpg";
import image_6 from "@images/cover-bank-contest/image_6.jpg";
import image_7 from "@images/cover-bank-contest/image_7.jpg";
import image_8 from "@images/cover-bank-contest/image_8.jpg";
import image_9 from "@images/cover-bank-contest/image_9.jpg";
import image_10 from "@images/cover-bank-contest/image_10.jpg";

const imageGrid = [
	image_1,
	image_2,
	image_3,
	image_4,
	image_5,
	image_6,
	image_7,
	image_8,
	image_9,
	image_10
];

const faqs = [
	{
		question: "What idea can I submit?",
		answer: `Cultivated who resolution connection motionless did occasional. Journey promise if it colonel. Can all mirth
abode nor hills added. Them men does for body pure. Far end not horses remain sister. Mr parish is to he answer roused
piqued afford sussex. It abode words began enjoy years no do ﻿no. Tried spoil as heart visit blush or. Boy possible
blessing sensible set but margaret interest. Off tears are day blind smile alone had.`
	},
	{
		question: "How can I submit?",
		answer: "The Cover Bank is a database of album covers from 1950 - 2022."
	},
];


const howToApply = [
	{
		answer: "Come up with a pitch for an essay or a website that helps promote the Cover Bank."
	},
	{
		answer: `Explain in detail how you plan to execute your pitch. You should be able to complete and publish your idea in
two weeks.`
	},
	{
		answer: `When you’re done, <a target="_blank" href="/cover-contest/apply">click here</a> to submit your pitch. The final submission date for pitches is Sunday, July 31st.`
	},
	{
		answer: `The winners will be announced on our Twitter account (<a target="_blank" href="https://twitter.com/wuruwurumag?s=21&t=VFC8KnAvUZmvuxU1jg7B2Q">@wuruwurumag</a>) on Friday, August 5th.`
	},
];


---

<Layout>
	<main>
		<section class="l-section">
			<div class="l-container l-grid">
				<div class="c-section__left l-grid__column--5">
					<div class="page-group page-group--header">
						<ul class="photo-grid">
							{imageGrid.map((image, index) => (
							<li><img src={image} data-index={index} alt=""></li>
							))}
						</ul>
						<p>The research team at wuruwuru has put together a database of 5000+ Nigerian album covers from
							1950 -
							2022, and we're looking for opportunities to promote this database for more people to see
							and use it.</p>
						<p>The Cover Bank Contest is a $2,000 grant to create an essay or interactive website based on
							the database
							to promote it to an audience. We'll give four people $500 each and support them to bring
							their winning ideas to life.</p>
					</div>
					<div class="page-group">
						<h4 class="c-section-title">How to apply</h4>
						<ol class="aside-list data">
							{howToApply.map(({ answer }, index) => (<li data-index={index} set:html={answer}></li>))}
						</ol>
					</div>
				</div>
				<aside class="c-section__right l-grid__column-start--8 l-grid__column--4">
					<h4 class="c-section-title">FAQS</h4>
					<ol class="aside-list faq">
						{faqs.map(({ question, answer }) => (
						<li>
							<details>
								<summary>{question}</summary>
								<p>{answer}</p>
							</details>
						</li>
						))}
					</ol>
				</aside>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@import "../styles/mixins.scss";

	.c-section__left,
	.c-section__right {
		@include screen('small') {
			grid-column: 1 / -1;
		}
	}

	.photo-grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 1rem;
		margin-bottom: 3.6rem;

		@include screen('small') {
			grid-template-columns: repeat(2, 1fr);
		}

		@include screen('small') {
			li:nth-child(n+7) {
				display: none;
			}
		}

		>li {
			position: relative;
			display: flex;

			&:hover {
				transform: scale(1.1);

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.3);
				}
			}
		}
	}

	.aside-list.faq {
		counter-reset: listNumber;
	}

	.aside-list.faq li {
		list-style: none;
		position: relative;
		padding-left: 24px;
		font-family: var(--font-sans);

		&::before {
			counter-increment: listNumber;
			content: counter(listNumber) ".";
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
		}

		details {
			display: inline;
			list-style-type: decimal;
			list-style-position: inside;

			&[open] {

				summary {}

				// p {

				// 	@keyframes fadeIn {
				// 		to {
				// 			opacity: .5;
				// 			transform: translateY(0);
				// 		}
				// 	}
				// }
			}

			>p {
				margin: 10px 0 0;
				transform: translateY(10px);
				opacity: .7;
				line-height: 1.3;
			}

			summary {
				cursor: pointer;
				list-style: none;
				list-style-type: none;
				user-select: none;


				&::marker,
				&::-webkit-details-marker {
					display: none;
				}
			}
		}
	}

	.page-group--header {
		padding: var(--spacer-base) 0;
	}

	.aside-list {
		// font-family: var(--font-sans);
		line-height: 1.4;
		padding-left: 0;
		padding: calc(var(--spacer-base) / 2) 0;

		>*+* {
			margin-top: calc(var(--spacer-base) / 2);
		}
	}
</style>