---
//Components
import Layout from "@layout/Default.astro";
import PageHeader from "@components/PageHeader.astro";
import Checkbox from "@components/FormInputCheckbox.astro";
import ProfileCard from "@components/ProfileCard.astro";

import projects from "@data/projects.json";
import roles from "@data/roles.json";
import genre from "@data/genre.json";
import creators from "@data/creators.json";


const getProjectsFilter = () => {
  return projects.map(({ id, title }) => ({ id, label: title }))
}

const fetchCreators = creators.map((creator) => {
  const { roleId, projectIds, ...rest } = creator;
  return {
    ...rest,
    role: roles.find(({ id }) => roleId === id),
    projects: projectIds.map(projectID => {
      const { id, category, ...rest } = projects.find(({ id }) => id === projectID);
      return { id, genre: category.toLowerCase(), ...rest };
    }),
  }
})


const filters = [
  {
    title: 'Genre',
    data: genre,
  },
  {
    title: 'Roles',
    data: roles,
  },
  {
    title: 'Projects',
    data: [
      {
        id: 'all',
        label: 'All'
      },
      ...getProjectsFilter()
    ],
  },
]

---

<Layout>
  <main>
    <section class="l-section">
      <div class="l-container l-grid">
        <div class="c-section__left l-grid__column--8">
          <ul class="c-creator-list" id="creators">
            {fetchCreators.map(({name, bio, role, socialLink, projects, avatar, id}, index) => {
            const projectSpread = projects.map(({ id })=> id);
            const genreSpread = projects.map(({ genre })=> genre);
            return (
            <li class="c-creator-list__item active" data-index={id} data-name={name} data-roles={role.id.toLowerCase()}
              data-projects={projectSpread} data-genre={genreSpread}>
              <div class="profile">
                <ProfileCard title={name} imageLink={avatar} description={role.label} size="small" />
              </div>
              <div class="bio">
                <p>{bio}</p>
                <div>
                  <div>Projects:
                    {projects.map(({id, title}) => (
                      <a href="#">{title}</a>
                    ))}
                  </div>
                  <div>Connect: <a class="c-link c-link--out social" target="_blank" href={ socialLink.url }>{ socialLink.text }</a></div>
                </div>
              </div>
            </li>)}
            )}
          </ul>
          <h4>
            <span id="creators-count">{fetchCreators.length}</span>
            <span class="mobile-filter-button">
              <button class="filter-trigger" id="filterTrigger">Filter</button>
            </span>
          </h4>
        </div>

        <aside class="c-section__right l-grid__column-start--11 l-grid__column--2">
          <form id="filterWrapperDesktop">
            <!-- Select for mobile view -->
            {filters.map(({ title, data }) => (
            <fieldset class="aside-list" data-filterGroup={title.toLowerCase()}>
              <legend>
                <h4 class="c-section-title">{title}</h4>
              </legend>
              {data.map((props, index) => {
              const value = index === 0 ? true : false
              return (<div class="item">
                <Checkbox {...props} value={value} client:load />
              </div>)
              })}
            </fieldset>
            ))}
          </form>
        </aside>
      </div>
    </section>
    <dialog class="c-filter-dialog" id="filterDialog">
      <form>
        <div class="l-container">
          <h3>Filters</h3>
          <div class="c-section__filters">
            {filters.map(({ title, data }) => (
            <fieldset class="aside-list" data-filterGroup={title.toLowerCase()}>
              <legend>
                <h4 class="c-section-title">{title}</h4>
              </legend>
              {data.map((props, index) => {
              const value = index === 0 ? true : false
              return (<div class="item">
                <Checkbox {...props} value={value} client:load />
              </div>)
              })}
            </fieldset>
            ))}
          </div>
        </div>
        <div class="c-button-wrap">
          <button type="submit" class="c-button" id="filterDialogSubmit">Apply Filter</button>
        </div>
      </form>
    </dialog>
    <dialog id="creatorInfoModal" class="c-modal c-modal--creator">
      <div class="l-container">
        <div class="c-modal__content">
          <button class="c-modal__close">
            <svg class="c-modal__close-icon" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18">
              <path stroke="#000" stroke-width="2" d="m2.012 1.515 15.556 15.556M1.598 17.071 17.154 1.514" />
            </svg>
          </button>
          <div class="c-modal__body">
            <template id="userTemplate">
              <ProfileCard title="{full_name}" description="{role}" size="regular" imageLink={new
                URL("https://google.com")} />
              <p data-bio></p>
              <div class="footer" data-footer>
                <a href="https://google.com" target="_blank"></a>
              </div>
            </template>
          </div>
        </div>
      </div>
    </dialog>
  </main>
</Layout>

<!-- Creator Modal  -->
<style lang="scss">
  @import "../styles/mixins.scss";

  .c-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-index--10);
    background: var(--color-white);
    border: 0;
    padding: 0;
    margin: 0;

    &::backdrop {
      margin: 0;
      padding: 0;
      background-color: #fff;
    }

    & dialog:-internal-modal-dialog {
      margin: 0;
      padding: 0;
      background: var(--color-white);
    }

    &__content {
      margin-top: var(--spacer-base);
      position: relative;
    }

    &__close {
      position: absolute;
      width: 100%;
      height: 28px;
      max-width: 28px;
      display: grid;
      place-items: center;
      top: -32px;
      right: 0;
      background-color: transparent;
      border: 0;
    }

    &__body {
      margin-block-start: calc(var(--spacer-base) * 2);

      p {
        --margin: calc(var(--spacer-base) / 2);
        margin-block-start: var(--margin);
        margin-top: var(--margin);
      }

      .footer {
        font-style: italic;
        padding-block-end: 28px;
        margin-block-end: 0;
        position: relative;
        margin-block-start: calc(var(--spacer-base) / 1.5);

        &:hover {
          &::after {
            animation: animatedBackground .35s linear infinite both;
          }
        }

        &::after {
          --divider-height: 16px;
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: var(--divider-height);
          background: linear-gradient(90deg, var(--color-light-gray) 50%, transparent 50%, transparent 100%),
            linear-gradient(90deg, transparent 50%, var(--color-light-gray) 50%, var(--color-light-gray) 100%);
          background-position: 0 0, 0 calc(var(--divider-height) / 2);
          background-size: var(--divider-height) 50%;
          background-repeat: repeat no-repeat;
          transition: background-size .35s linear;

          @keyframes animatedBackground {
            to {
              background-position: 32px 0, 32px calc(var(--divider-height) / 2);
            }
          }
        }

        p {
          position: relative;
          margin-bottom: 0;
        }
      }
    }
  }
</style>

<!-- Creator Filter -->
<style lang="scss">
  @import "../styles/mixins.scss";

  .c-section-title {
    &--spaced {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        background: transparent;
        border: none;
      }
    }
  }

  // Mobile creators filter
  .c-filter-dialog {
    position: fixed;
    width: 100%;
    border: 0;
    top: 5vh;
    height: 100%;
    height: -webkit-fill-available;
    max-height: 95vh;
    background: var(--color-white);
    left: 0;
    overflow-y: scroll;
    z-index: var(--z-index--10);
    padding: calc(var(--spacer-base) / 2) 0;
    padding-top: 0;
    padding-block-start: 0;

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);


    .c-button {
      width: 100%;
      background: var(--color-white);
      padding: 12px;
      border: 1px solid var(--color-black);
      color: var(--color-black);

      &-wrap {
        position: sticky;
        bottom: 0;
        max-width: 80%;
        margin: 0 auto;
      }
    }

    &::backdrop {
      background: var(--color-white);
    }

    h3 {
      background-color: var(--color-white);
      padding: 12px 0 calc(var(--spacer-base) / 2);

      z-index: var(--z-index--10);
    }

    /* autoprefixer: ignore next */
    &:-internal-modal-dialog {
      max-width: calc((100% - 6px) - 2em);
      max-height: calc((100% - 6px) - 2em);
      max-width: 100%;
    }

  }

  .mobile-filter-button {
    display: none;

    @include screen("small") {
      display: block;
    }
  }
</style>

<!-- Creator page -->
<style lang="scss">
  @import "../styles/mixins.scss";


  .c-section-title,
  .aside-list legend {
    background-color: var(--color-white);
  }

  .l-container,
  .l-grid {
    position: relative;
  }

  .c-creator-list,
  .aside-list {
    padding: var(--spacer-base) 0;

    @include screen('small') {
      padding: calc(var(--spacer-base) / 2) 0;
      grid-template-columns: 1fr;
    }
  }

  .c-creator-list__item {
    display: grid;
    grid-template-columns: 32% 1fr;
    gap: 64px;
    margin-bottom: var(--spacer-base);
    margin-block-end: var(--spacer-base);
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
      margin-block-end: 0;
    }

    .social {
      word-break: break-all;
    }

    .bio {
      line-height: 1.3;

      >p {
        margin-top: 0;
        margin-block-start: 0;
      }

      > div {
        color: var(--color-dark-gray);
      }

      a {
        margin-right: 4px;
        &:not(:last-child) {
          &:after {
            content: ',';
          }
        }
      }
    }

    @include screen('small') {
      grid-template-columns: 1fr;
      width: 100%;
      padding: calc(var(--spacer-base) / 4);
      background-color: var(--color-white);

      margin-bottom: calc(var(--spacer-base) / 4);
      margin-block-end: calc(var(--spacer-base) / 4);


      .bio {
        display: none;
      }

      .social {
        display: none;
      }
    }
  }

  fieldset {
    border: none;

    legend {
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .c-section__right {
    @include screen('small') {
      display: none;
    }

    select {
      display: none;

      @include screen('small') {
        display: unset;
        display: none;
      }
    }
  }

  .c-section__left {
    @include screen('small') {
      grid-column: 1 / -1;
    }
  }

  .aside-list>.item+* {
    margin-top: calc(var(--spacer-base) / 6);
  }
</style>
<!-- define gloabl variables -->
<script define:vars={{ filters, fetchCreators }}>
  window.filterConfig = filters;
  window.creators = fetchCreators;
</script>
<!-- Handle filter logic -->
<script>
  import { assign, createMachine, interpret } from '@xstate/fsm';
  import Isotope from 'isotope-layout';

  window.creatorFilterOptions = window.filterConfig.reduce((acc, filter, index) => {
    const { title, data } = filter;
    const filterGroup = title.toLowerCase();
    const filterGroupData = data.reduce((acc, { id, label }, index) => {
      const active = index === 0 ? true : false
      return {
        ...acc,
        [id.toLowerCase()]: {
          label,
          active,
        }
      }
    }, {})

    return {
      ...acc,
      [filterGroup]: {
        ...filterGroupData
      },
    }
  }, {});

  // Use Isotope to control filtered items
  const creatorIsotope = new Isotope(document.getElementById('creators'), {
    itemSelector: '.c-creator-list__item',
  });


  // Helpers
  const updateCheckboxUI = (parent, value, key = 'all') => {
    const filterGroup = document.querySelectorAll(`fieldset[data-filtergroup='${parent}']`);
    filterGroup.forEach(group => {
      group.querySelector(`div input[name='${key}']`).checked = value;
    });
  }

  const updateSelectUI = (parent, value, key = 'all') => {
    const filterGroup = document.querySelector(`select [data-filtergroup='${parent}']`);
    filterGroup.querySelector(`option[value='${key}']`).selected = value;
  }

  const updateJSONOnClick = (data, filterId, parent) => {
    // Turn off all filters is user selects all
    if (filterId === 'all') {
      for (const key of Object.keys(data)) {
        if (key !== 'all') {
          data[key]['active'] = false;
        }
      }
      return data;
    }

    data['all']['active'] = false;

    return data;
  }

  const updateUI = (data) => {
    const testParam = Object.keys(data).reduce((acc, element) => {
      const targetObj = data[element];
      const targetKeys = Object.keys(targetObj);
      const answers = [];

      targetKeys.forEach(key => {
        if (targetObj[key]['active']) answers.push(key)
      });

      return {
        ...acc,
        [element]: answers
      }
    }, {})


    const filterQuery = (element) => {
      const answer = [];
      for (const key of Object.keys(testParam)) {
        const attributeText = element.getAttribute(`data-${key}`);
        if (testParam[key].includes(attributeText) || testParam[key].includes('all')) {
          answer.push(true)
        } else {
          answer.push(false)
        }
      }

      const checkTrue = answer.every(element => element)
      return checkTrue
    }

    creatorIsotope.arrange({
      filter: filterQuery
    })
    document.querySelector('#creators-count').textContent = `${creatorIsotope.getFilteredItemElements().length} of ${creatorIsotope.getItemElements().length}`;
  }


  const options = {
    actions: {
      handleContext: assign({
        filterState: (context, event) => {
          const { filterState } = context;
          const { filterParent, filterId } = event;

          const filteredGroup = {
            ...filterState[filterParent],
            [filterId]: {
              ...filterState[filterParent][filterId],
              active: !filterState[filterParent][filterId]['active'] // update changed json
            }
          }

          const purifiedJSON = updateJSONOnClick(filteredGroup, filterId, filterParent);
          for (const key in purifiedJSON) {
            // updateUI
            const { active } = purifiedJSON[key];
            updateCheckboxUI(filterParent, active, key)
            // updateSelectUI(filterParent, active, key)
          }
          return {
            ...filterState,
            [filterParent]: {
              ...purifiedJSON
            }
          }
        }
      }),
    }
  }

  // State Machine
  const machine = createMachine({
    id: 'creatorFilter',
    initial: 'idle',
    context: {
      filterState: window.creatorFilterOptions,
    },
    states: {
      idle: {
        on: { CLICK: 'selected' }
      },
      selected: {
        entry: ['handleContext',],
        on: { CLICK: 'selected' }
      }
    },
  }, options)

  const toggleService = interpret(machine).start()
  toggleService.subscribe((state) => {
    if (state && state.changed) {
      const { filterState } = state.context;
      updateUI(filterState)
    }
  })



  // Trigger machine event
  const getFilterParam = (fieldType, element) => {
    switch (fieldType) {
      case 'multi-select':
        return {
          filterParent: element.options[element.selectedIndex].parentNode.getAttribute('data-filtergroup'),
          filterId: element.value
        }

      default:
        return {
          filterParent: element.closest('[data-filtergroup]').getAttribute('data-filtergroup'),
          filterId: element.getAttribute('name')
        }
    }
  }

  const toggleDialog = (display = 'hide') => {
    const dialogElement = document.querySelector('#filterDialog');
    dialogElement.scrollTop = 0;

    if (display === 'show') {
      dialogElement.show();
      document.body.style.overflow = 'hidden'
      return;
    }

    dialogElement.close();
    document.body.style.overflow = null

  }

  // Event Listeners
  document.querySelector('#filterWrapperDesktop')
    .addEventListener('input', (event) => {
      if (event.target.nodeName == 'SELECT') return;
      const { filterId, filterParent } = getFilterParam('input', event.target);
      toggleService.send({ type: 'CLICK', filterParent, filterId });
    }, false)

  document.querySelector('#filterDialog')
    .addEventListener('input', (event) => {
      console.log('clicked')
      if (event.target.nodeName == 'SELECT') return;
      const { filterId, filterParent } = getFilterParam('input', event.target);
      toggleService.send({ type: 'CLICK', filterParent, filterId });
    }, false)

  document.querySelector('#filterTrigger').addEventListener('click', () => toggleDialog('show'))
  document.querySelector('#filterDialogSubmit').addEventListener('click', () => toggleDialog('hide'))
</script>
<script>
  const modal = document.querySelector('#creatorInfoModal');
  const modalTemplate = modal.querySelector('#userTemplate');
  const modalBody = modal.querySelector('.c-modal__body');

  const openModal = (creator) => {
    const clonedTemplate = modalTemplate.content.cloneNode(true);
    const avatar = clonedTemplate.querySelector('img');
    const name = clonedTemplate.querySelector('[data-name]');
    const description = clonedTemplate.querySelector('[data-description]');
    const bio = clonedTemplate.querySelector('[data-bio]');
    const link = clonedTemplate.querySelector('a');

    // Update the modal with the creator data
    avatar.src = creator.avatar;
    name.textContent = creator.name;
    description.textContent = creator?.role?.label;
    bio.textContent = creator.bio;
    link.href = creator.socialLink.url;
    link.textContent = creator.socialLink.text;

    // Empty the modal body and append the new content
    modal.show();
    document.querySelector('body').style.overflow = 'hidden';
    while (modalBody.hasChildNodes()) {
      modalBody.removeChild(modalBody.firstChild);
    }
    modalBody.appendChild(clonedTemplate)
    // Close the modal when the user clicks the close button
    modal.querySelector('.c-modal__close').addEventListener('click', () => {
      modal.close();
      document.querySelector('body').style.overflow = null;
    });
  }


  const creatorList = document.getElementById('creators');
  const listenForModalClick = () => {
    const isMobileDevice = window.innerWidth < 500 ? 1 : 0;
    creatorList.addEventListener('click', (e) => {
      const isValid = isMobileDevice && !!e.target.closest('li');
      if (!isValid) return;
      const creatorName = e.target.closest('li').dataset.name;
      const creatorId = e.target.closest('li').dataset.index;
      const creatorInfo = window.creators.find(({ name, id }) => (name === creatorName && id == creatorId))
      openModal(creatorInfo);
    });
  }
  listenForModalClick();
  window.addEventListener('resize', listenForModalClick);
</script>
