---
import "@styles/main.scss";
import Analytics from "./Analytics.astro";
import SEO from "@data/SEO.json";

const defaultSEO = SEO.find(({ type = null }) => type && type === 'default');
const currentPath = new URL(Astro.request.url).pathname.replace(/\/$/, '');
const pageSEO = SEO.find(({ route }) => route === currentPath);
const pageURL = new URL(Astro.request.url);

const SEOProps = {
	...defaultSEO.data,
	...pageSEO?.data,
	pageURL,
}

---

<head>
	<title>{SEOProps.seoTitle}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="title" content={SEOProps.seoTitle}>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<meta name="description" content={SEOProps.pageDescription}>

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content={SEOProps.pageURL}>
	<meta property="og:title" content={SEOProps.seoTitle}>
	<meta property="og:description" content={SEOProps.pageDescription}>
	<meta property="og:image" content={SEOProps.defaultSEOImage}>

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content={SEOProps.pageURL}>
	<meta property="twitter:title" content={SEOProps.seoTitle}>
	<meta property="twitter:description" content={SEOProps.pageDescription}>
	<meta property="twitter:image" content={SEOProps?.twitterSEOImage ?? SEOProps.defaultSEOImage}>

	<!-- Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

	<!-- Add analytics script -->
	{import.meta.env.PROD && (
	<Analytics />)}
	<slot />
</head>