---
import resetStyles from "@styles/main.scss";
import Analytics from "./Analytics.astro";
import SEO from "@data/SEO.json";

const defaultSEO = SEO.find(({ type = null }) => type && type === 'default');
const pageSEO = SEO.find(({ route }) => route === Astro.canonicalURL.pathname);

const SEOProps = {
	...defaultSEO.data,
	...pageSEO?.data,
	pageUrl: Astro.canonicalURL.href,
}
---

<head>
	<title>{SEOProps.pageTitle}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="title" content={SEOProps.seoTitle}>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<meta name="description" content={SEOProps.pageDescription}>

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content={SEOProps.pageUrl}>
	<meta property="og:title" content={SEOProps.seoTitle}>
	<meta property="og:description" content={SEOProps.pageDescription}>
	<meta property="og:image" content={SEOProps.defaultSEOImage}>

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content={SEOProps.pageUrl}>
	<meta property="twitter:title" content={SEOProps.seoTitle}>
	<meta property="twitter:description" content={SEOProps.pageDescription}>
	<meta property="twitter:image" content={SEOProps?.twitterSEOImage ?? SEOProps.defaultSEOImage}>

	<!-- Add analytics script -->
	{import.meta.env.PROD && (
	<Analytics />)}
	<slot />
</head>