---
import resetStyles from "@styles/main.scss";

const {
		pageTitle,
		seoTitle = pageTitle, // This prop is used for when the title tag title is different from what is displayed for SEO titles
		pageUrl,
		pageImage = "https://wuruwuru.com/assets/images/thumbnail.png",
		pageDescription = "A collection of publishing experiments",
	} = Astro.props;

---
<head>
	<title>{pageTitle}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="title" content={seoTitle}>

  <link rel="icon" type="image/x-icon" href="favicon.ico">

	<meta name="description" content={pageDescription}>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content={pageUrl}>
	<meta property="og:title" content={seoTitle}>
	<meta property="og:description" content={pageDescription}>
	<meta property="og:image" content={pageImage}>

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content={pageUrl}>
	<meta property="twitter:title" content={seoTitle}>
	<meta property="twitter:description" content={pageDescription}>
	<meta property="twitter:image" content={pageImage}>

	<slot/>
</head>