---
import ProfileCard from "@components/ProfileCard.astro";

const {
	index,
	role,
	projectSpread,
	genreSpread,
	name,
	bio,
	socialLink
} = Astro.props
---

<li class="c-creator-list__item active" data-index={index} data-roles={role.id.toLowerCase()}
	data-projects={projectSpread} data-genre={genreSpread}>
	<div class="profile">
		<ProfileCard title={name} description={role.label} size="small" />
	</div>
	<div class="bio">{bio}</div>
	<a class="social" href={ socialLink.url }>{ socialLink.text }</a>
</li>