---
//Assets
import logo from "@images/logo-white.png";
import logoDark from "@images/logo.png"

export interface Props {
    slides: {id: string}[]
}

const { slides } = Astro.props
---
<nav class="navbar">
    <img src={logo} alt="logo" class="navbar__logo"/>
    <img src={logoDark} alt="logo" class="navbar__logo is-dark"/>
    <ul class="slides">
        {
            slides.map((slide) => (
                <li class="slides__item" data-id={slide.id}>
                    <a class="slides__item__link" href={"#" + slide.id}/>
                </li>
            ))
        }
    </ul>
    <img src={logo} alt="logo" class="navbar__logo"/>
    <img src={logoDark} alt="logo" class="navbar__logo is-dark"/>
</nav>

<style>
    .navbar{
        display: flex;
        padding: 6px 10px 0;
        justify-content: space-between;
        margin-bottom: 24px;
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
        z-index: 2;
    }

    .navbar__logo{
        width: 50px;
    }

    .navbar__logo.is-dark {
        display: none;
    }
    
    .navbar.has-contrast .navbar__logo:not(.is-dark){
        display: none;
    }

    .navbar.has-contrast .navbar__logo.is-dark{
        display: block;
    }


    @media (max-width: 600px){
        .navbar{
            margin-bottom: 16px;
            padding: 0 16px;
        }

        .navbar__logo,
        .navbar.has-contrast .navbar__logo.is-dark{
            display: none;
        }
    }

    .slides{
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding-top: 8px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        width: 375px;
    }

    @media (max-width: 600px){
        .slides{
            width: 100%;
            padding-top: 32px
        }
    }

    .slides__item{
        height: 4px;
        background-color: rgba(255, 255, 255, 0.2);
        flex: 1 0 0;
    }

    .slides__item__link{
        width: 100%;
        height: 100%;
        display: block;
    }

    .slides__item.is-active{
        background-color: white;
        transition: 300ms;
    }

    .navbar.has-contrast .slides__item.is-active{
        background-color: black;
    }
</style>
<script>
    import { getSlidesObject, getActiveSlide } from "../utils/projectSlideUtils"

    const slideIndicatorElements = [...document.querySelectorAll(".slides__item")];
    const indicatorsObject = getSlidesObject(".slides__item")

    const renderSlideIndicators = () => {
        const activeSlide = getActiveSlide({
            query: ".slides__item",
            elementsObject: indicatorsObject
        })

        if(!activeSlide) return

        let activeSlideIndex = indicatorsObject[activeSlide].index;

        //Loop through elements and add active class where appropriate
        slideIndicatorElements.forEach((element, index) => {
            if(index <= activeSlideIndex){
                element.classList.add("is-active")
            }else{
                element.classList.remove("is-active")
            }
        })
    }

    window.addEventListener("DOMContentLoaded", renderSlideIndicators)
    window.addEventListener("hashchange", renderSlideIndicators)
</script>