---
export interface Props {
	id: string,
	title: string,
	status: string,
	description: string,
	url: {
		href: string,
		text: string
	}
}

const {
	id,
	title,
	creator,
	status,
	description,
	url,
} = Astro.props

---

<div class="project">
	<div class="project-title">
		<h2>
		{url ? (
			<a href={ url.href } target="_blank">{title}</a>
		) : (
			<span>{title}</span>
		)}
		</h2>
		<h5 class="creator">{ creator}</h5>
	</div>
	<div class="project-cover">
		{url ? (
		<a href={ url?.href } target="_blank">
			<img src={`/assets/images/projects/${id}.jpg`} alt={`Cover image for ${title}`} />
		</a>
		) : (
			<img class="pulse" src={`/assets/images/projects/${id}.jpg`} alt={`Cover image for ${title}`} />
		)}
	</div>
	<div class="project-text">
		<p>{ description }</p>
		{url ? (
		<a href={ url?.href } class="c-link c-link--out" target="_blank">{ url.text }</a>
		) : (
			<div class="project-status">
				<span class={`project-status-dot ${status == 'published' ? 'success' : 'default' }`}></span>
				<span class="project-status-text">{status}</span>
			</div>
		)}
	</div>
</div>

<style lang="scss">
	@import "../styles/mixins.scss";

	.project {
		display: grid;
		gap: 0;
		text-decoration: none;
		grid-template-columns: 1fr minmax(auto, 320px);

		@include screen('small') {
			grid-template-columns: 1fr;
		}

		&-cover {
			position: relative;
			width: 100%;
			grid-row: span 2;
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

			> a {
				display: block;
				width: 100%;
				height: 100%;

				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			img {
    		transition: all .5s ease;
				filter: grayscale(1);
			}

			@include screen('small') {
				min-width: unset;
				max-width: 100%;
				grid-row: default;
				img {
					filter: none;
				}
			}
		}

		&:hover {
			img {
				filter: none;
			}
		}

		&-title {
			@include screen('small') {
				margin-bottom: 20px;
			}

			a {
				font-style: normal;
			}

			h2, h5  {
				margin: 5px;
			}
			
			h5 {
				font-family: var(--font-sans);
				font-size: var(--font-size-base);
				font-weight: normal;
			}
		}

		&-text {
			p {
				font-size: var(--font-size-base);
				margin-bottom: 5px;
			}
		}

		&-status {
			margin-bottom: 5px;

			&-dot {
				width: 8px;
				height: 8px;
				border-radius: 4px;
				margin-right: 2px;
				display: inline-block;
				&.default {
					background: #FB9F1A;
				}
				&.success {
					background: #5AB379;
				}
			}

			&-text {
				font-family: var(--font-sans-mono);
				text-transform: uppercase;
				font-size: 1.5rem;
			}
		}
	}
</style>
