---
//Assets
import instagram from "@images/icons/instagram.svg"
import twitter from "@images/icons/twitter.svg"
import medium from "@images/icons/medium.svg"
import vimeo from "@images/icons/vimeo.svg"

const { className = '' } = Astro.props
---

<div class={`links ${className}`}>
    <a href="https://twitter.com/wuruwurustudio" target="_blank">
        <img src={twitter} alt="wuruwuru Twitter" />
    </a>
    <img src={instagram} alt="wuruwuru Instagram" />
    <a href="https://medium.com/wuruwuru" target="_blank">
        <img src={medium} alt="wuruwuru medium" />
    </a>
    <img src={vimeo} alt="wuruwuru Videos" />
</div>
<style>
    .links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
</style>